<ul class="list-group">
    <li class="list-group-item list-group-item-dark">Grocery List</li>
    <li class="list-group-item">Milk</li>
    <li class="list-group-item">Eggs</li>
    <li class="list-group-item">Bread</li>
    <li class="list-group-item">Add +</li>
</ul>