<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <h1>Add Ingredients</h1>
            <form action="/add-ingredient/<%= recipeId %>" method="POST">
                <div class="form-row">
                    <div class="form-group col-3">
                        <label for="quantity">Quantity</label>
                        <input type="text" class="form-control" id="quantity" name="quantity">
                    </div>
                    <div class="form-group col-9">
                        <label for="ingredient">Ingredient</label>
                        <input type="text" class="form-control" id="ingredient" name="ingredient">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Add Ingredient</button>
            </form>
            <a href="/recipes" class="btn btn-secondary">Done</a>
        </div>
    </div>
</main>
<%- include('../includes/end.ejs') %>