<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-md-9 mt-5">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://tse3.mm.bing.net/th?id=OIP.g4TWTrxQ6Rj23jrNLdLEJwAAAA&pid=Api" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below to additional content.</p>
                                    <p class="card-text"><small class="text-muted">Meal</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
<!--                                <img src="..." class="card-img" alt="...">-->
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    + Lunch
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <aside class="col-md-3 mt-5">
                    <%- include('../includes/grocery-list.ejs') %>
                </aside>
            </div>
        </main>
    <%- include('../includes/end.ejs') %>